---
fullnameOverride: {{ nexus.deployment.name }}

ingress:
  enabled: true
  ingressClassName: nginx
  annotations: { nginx.org/client-max-body-size: '0' }
  hosts:
    - grace.nurigundogan.net

persistence:
  enabled: true
  accessMode: ReadWriteOnce
  storageClass: default
  size: 8Gi

resources:
  requests:
    cpu: 0.5
    memory: 500Mi
  limits:
    cpu: 1
    memory: 2Gi

service:
  type: ClusterIP
  port: 8081
  additionalPorts:
     - port: 8082
       name: registry
       containerPort: 8082
       host: grace-registry.nurigundogan.net
